
#footer {
    //width:100%;
    background-color: #00346b;
    //padding: 2em 0em;
    //float: left;
    clear: both;
    padding:60px 0px;
    font-family: $font-hind;
    .address{
        font-size: 1em;
        color: white;
        //width: 8%;
        //float: left;
        overflow: hidden;
        //margin: 1em 5em;
        font-weight: 300;
    }
    .phone{
        color: white;
        font-size: 1em;
        //margin: 1em 0.5em;
        overflow: hidden;
        //float: left;
        font-weight: 300;

    }
    .navbar{
        @media only screen and  (max-width: 768px) {
            display: none;
        }
        float: right;
        //margin: 1em 5em;
        ul{
            li{
                float: left;
                padding: 4px;
                color: white;
                font-size:1em;

                a{
                    color: white;
                }
            }
        }
    }
}

