

.cruve{
    width:100%;
    z-index: 0;
    margin: 0 auto;
    background: white;
    height: 200px;
    position: absolute;
    transform-origin: left top;
    transform: skewY(-2.5deg);
}
#header {
    z-index: 2;
    position: relative;
    padding-top: 30px;

   #navbar {

       ul {
           > li {
               a {
                   color: $gray;


                   &:hover {
                       color: $blue;
                       > a {
                           color: $blue;
                       }
                   }
                   &:active, &:focus {
                       color: $blue;
                       > a {
                           color: $blue;
                       }
                   }
               }
           }
       }
   }
}
