


.news-cover{
    background: url(../../images/news-cover.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
    position: relative;
    margin-top: -100px;
    z-index: -1;

    .text-content{
        text-align: center;
        margin: auto;
        //width: 655px;
        margin-top: 310px;

        h3 { font-size: 45px; color:$white; font-weight: 300;}
        ul{
            display: inline-block;
            margin: 0;
            padding: 0;
            /* For IE, the outcast */
            zoom:1;
            *display: inline;
            font-size: 45px;
            color:$white;
            font-weight: 300;

            & li{
                list-style: none;
                position: relative;
                padding: 2px;
                color: white;
                text-align: left;

                &:before{

                    background: url(../../images/li-bg.png) no-repeat;
                    content: "";
                    width: 32px;
                    height: 23px;
                    left: -7px;
                    top:10px;
                    z-index: -1;
                    background-size: contain;
                    position: absolute;

                }

            }

        }

    }

}

.product-container{


    .product-box {
        width: 100%;
        height: 100%;
        padding: 60px 0px;
        position: relative;


        .img-cover {
            position: relative;

            &:before {
                background: url(../../images/li-bg.png) no-repeat;
                content: "";
                width: 35px;
                height: 27px;
                right: -12px;
                top: -13px;
                z-index: 1;
                background-size: contain;
                position: absolute;
            }


            &:after {

                background: url(../../images/li-bg.png) no-repeat;
                content: "";
                width: 35px;
                height: 27px;
                left: -12px;
                bottom: -13px;
                z-index: 1;
                background-size: contain;
                position: absolute;
            }

            .img-responsive,img {
                width: 100%;
                //height: 300px;
            }

        }

        .title {
            font-size: 24px;
            color: $blue;
            font-weight: 300;
            line-height: 24px;
            padding-bottom: 20px;
            padding-top: 40px;

        }

        p {
            font-size: 12px;
            color: $gray;
            line-height: 16px;
            padding-right: 100px;
        }

    }

    .gray-box { background: #fafafa;    border-bottom: 4px solid #f0f0f0;}
    .white-box { background: white;  border-bottom: 4px solid #f0f0f0;}

    .gray-arrow {
        background: url(../../images/gray-arrow.png) bottom no-repeat; width:60px;height:50px; position:absolute; bottom:-22px;z-index:2; margin:0 auto; left:0;right:0;}

    .white-arrow {
        background: url(../../images/white-arrow.png) bottom no-repeat;  width:60px;height:50px; position:absolute; bottom:-22px;z-index:2; margin:0 auto; left:0;right:0;}
}

.no-pm{padding:0px;margin:0px;}
.no-m{margin:0px;}
.no-p{padding:0px;}

