body {
    float:left;
    clear:both;
    width:100%;
    line-height:1.5em;
    //width:1224px;
}

p {
    padding-bottom: 0.5em;
}
.cruve{
    width:100%;
    z-index: 0;
    margin: 0 auto;
    background: white;
    height: 200px;
    position: absolute;
    transform-origin: left top;
    transform: skewY(-2.5deg);
}
#header {
    z-index: 2;
    position: relative;
    padding-top:30px;


    img{

        margin: 0.5em 5em;
    }
    .navbar{
        float: right;
        margin: 2em 5em;

       ul{
           li{
               float: left;
               padding: 0 1em;
               a{
                   color: black;
               }
               a:hover{
                   color:#00346b;
               }
           }
       }
}

}
#slider {
    width:100%;
    float: left;
    clear: both;
    background: url(../images/slide-0.png) no-repeat center;
    background-size: cover;
    height: 50em;
    margin-top: -120px;

    .content {
        color: white;
        text-align: left;
        margin: auto;
        width: 655px;
        margin-top: 180px;

        h3 {
            font-size: 45px;

        }
        ul {

            font-size: 45px;
            padding: 20px;
            //z-index: 2;


            & li {
                padding: 15px;
                text-align: left;
                position: relative;
                z-index: 2;

                &:before{

                  background: url(../images/li-bg.png) no-repeat;
                  content: "";
                  width: 32px;
                  height: 23px;
                  left: 2px;
                  top: 5px;
                  z-index: 3;
                  position: absolute;

                }
            }
        }
    }
}

#content {
    width:100%;
    float: left;
    clear: both;


    ul {
        li {
            padding:1em 0;
            float:left;
            clear:both;
            width: 100%;
            border-bottom: 4px solid #f0f0f0;


            h1 {
                font-size:28px;
                color: #00346b;
            }

            .content {
                color: gray;
                width: 100%;

                .ctext {
                    background-color:lightblue;
                    float: left;
                    width:calc(50% - 60px);
                    min-height:(250px - 60px);
                    padding:30px;
                }
                .cimg {
                    background-color:lightsteelblue;
                    float: right;
                    width:50%;
                    min-height:250px;
                }

                .with-img-right {

                    .ctext {
                        float:left;
                    }
                    .cimg {
                        float:right;
                    }

                }

                .with-img-left {
                    .ctext {
                        float:right;
                    }
                    .cimg {
                        float:left;
                    }

                }


                img {
                    float: left;
                    margin: 0.5em;
                    position: relative;

                    &:before {
                        background: url(../images/li-bg.png) no-repeat;
                        content: "";
                        width: 35px;
                        height: 27px;
                        right: 90px;
                        top: -13px;
                        z-index: 1;
                        background-size: contain;
                        position: absolute;
                    }

                    &:after {

                        background: url(../images/li-bg.png) no-repeat;
                        content: "";
                        width: 35px;
                        height: 27px;
                        left: -12px;
                        bottom: -13px;
                        z-index: 1;
                        background-size: contain;
                        position: absolute;
                    }
                }

            }

        }
    }


}


#footer {
    width:100%;
    background-color: #00346b;
    padding: 2em 0em;
    float: left;
    clear: both;


    .address{
        font-size: 1em;
        color: white;
        width: 8%;
        float: left;
        overflow: hidden;
        margin: 1em 5em;
    }
    .phone{
        color: white;
        font-size: 1em;
        margin: 1em 0.5em;
        overflow: hidden;
        float: left;

    }
    .navbar{
        float: right;
        margin: 1em 5em;

       ul{
           li{
               float: left;
               padding: 0 1em;
               color: white;

               a{
                   color: white;
               }
           }
       }
    }
}

