body {
  float: left;
  clear: both;
  width: 100%;
  line-height: 1.5em;
  width: 1224px; }

p {
  padding-bottom: 1em; }

#header {
  width: 100%;
  background-color: lightcoral;
  float: left;
  clear: both; }

#slider {
  width: 100%;
  background-color: lightblue;
  float: left;
  clear: both; }
  #slider .content {
    color: yellow; }

#content {
  width: 100%;
  background-color: lightgreen;
  float: left;
  clear: both; }
  #content ul li {
    padding: 1em 0;
    float: left;
    clear: both; }
    #content ul li h1 {
      font-size: 28px;
      color: red; }
    #content ul li .content {
      color: blue; }
      #content ul li .content img {
        float: left;
        margin: 0.5em; }

#footer {
  width: 100%;
  background-color: lightskyblue;
  float: left;
  clear: both; }
