$on-hover-color: green;

$background-for-active-element: lightgray;

$header-height: 80px;
$sidebar-width: 97px;
$logo-width: 250px;

$logged-user-name-width:200px;
$logged-user-image-width:80px;
$logged-user-menu-trigger-width:50px;

$single_language_width: 50px;