@import 'https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700';
$body-size: 200px;
$header-cover-bg-color: white;
$body-bg-color: white;
$white: white;
$blue:#00346b;
$gray:#c0c5cb;
$orange:#ef9b00;
$font-hind: 'Hind';
